<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="sql server"
			 connectionString="Data Source=localhost\SQLEXPRESS01;Initial Catalog=DB1;Trusted_Connection=True;Encrypt=False;"/>
		<add name="mysql"
			 connectionString="server=localhost; port=3306; user=root; database=mysql_db1"/>
	</connectionStrings>
</configuration>